
{% extends "smellfactory/layout.html" %}


{% block body %}

 
<title>{% block title %} Smell Training :: Smell Factory  {% endblock %}</title>
{% load static %}

<head>
 <script data-ad-client="ca-pub-4734683126795411" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

 <header class="w3-container w3-center w3-padding-32"> 

    <h6 class="text-center"> <span class="w3-tag">ARTICLES. RESEARCH. INSTANT UPDATES.</span></h6>
  </header>
  

  <div class="w3-row fadeIn second">
  

  <div class="w3-col l8 s12">

    <div class="w3-card-4 w3-margin w3-white">
      <img src="{% static "./smellfactory/img/blog1.jpg"  %}" alt="Nature" style="width:100%;">
      <div class="w3-container">
        <h5 class="text-center"><b> Smell Training: How To Do It At Home</b></h5>

      </div>
  
      <div class="w3-container">
        <p><h6>Smell Training can potentially be of benefit to people who have been affected by the olfactory loss, particularly those who have lost their sense of smell as the result of a virus-like the Covid-19. A damaged olfactory nerve has a good chance to repair itself, and smell training is the way you can help that happen faster. </h6>

            You need four different essential oils namely lemon, rose, clove and eucalyptus are the four smells used in many of the published research studies. Also, four empty glass jars with lids, or cotton pads, or fragrance strips.  
            <ul>
                <li>Pour a few droplets of one of the oils on to a testing stick or pad.</li>
                <li>Hold the first jar, pad or fragrance strip up to your nose, about an inch away. The order in which you smell the oils does not matter.</li>
                <li>Relax and try to inhale naturally through the nose – sniffing too quickly and deeply is likely to result in you not being able to detect anything.</li>
                <li> If you can't smell anything, that's fine. It takes around 4-12 weeks depending on the person to see significant improvements. </li>
                <li>Hey, olfactory neurons take time to regenerate.  </li>
                <li> Try to recall what your experience of lemon was if you are inhaling lemon essence. Train your brain. It helps. </li>
                <li>Don't inhale it too deeply that the aroma hits your lungs, you may not know it but it is redundant.</li>
                <li> Olfactory neurons ( smell receptors ) are present at the ending of your nose, inhale it smoothly, take a break, do it again.</li>
                <li> Please avoid smoking, it causes unrecoverable damage to your sensory nerves.</li>
                <li> Move on to the next smell and repeat as above.</li>
                <li>Do it every morning. Your brain tries to capture the effect. </li>
    
            </ul>
            <h6><ul>Smell training kits can drill a hole in your pocket. But we can do it using simple things that are economically friendly and that are readily available at home. Make your own smell training kit.</ul>
            <ul>Note: If you are having Allergic/Chronic Bronchitis, please do not try to smell the substances which trigger it. You may not get the smell but it may affect your lungs.</ul></h6>
            
            </p>

      </div>
    </div>
    <hr>
  

    <div class="w3-card-4 w3-margin w3-white">
     
    <img src="{% static "./smellfactory/img/sds.jpg"  %}" alt="Norway" style="width:100%; height: 30%;">
      <div class="w3-container">
        <h5 class="text-center"><b>Food smells like sewage. How to live with Parosmia?</b></h5>

      </div>
  
      <div class="w3-container">
        <p><div class="text-center"><b>Scents that you used to find pleasant may now become overpowering and unbearable.</b></div>
          <h6>  If you try to eat food that smells bad to you, you may feel nauseous or sick while you’re eating. One cause of parosmia symptoms is olfactory damage from a cold or virus. We strongly suggest that you quarantine yourself for 14 days considering the current scenario, because Covid-19 has been causing this as its symptom.
            This became more popular in the recent days after the dominance of the wide spreading pandemic Covid-19. This article is focussed only on virally induced parosmia. Please consult a medical professional as it may indicate many other diseases.
            In a worst case scenario when a person may not able to bear any kind of smell. Vitamin A and Zinc may help. 
            <br> <h5 class="text-center">What should I eat?</h5>
            <br> <ul>
              <li>Eat room temperature or cool foods</li>
            
              <li>Avoid fried foods, roasted meats, onions, garlic, eggs, coffee. These are frequently mentioned as the worst foods for parosmics</li>
              <li> Try bland foods like rice, noodles, and untoasted bread. Steamed vegetables and plain yogurt are palatable to many.</li>
              <li>Some people can only bear with steamed pasta and cheese.</li>
              <li>For some, toothpaste and shampoo are the main culprit. The chemical aroma becomes unbrearable. </li>

              <li>Sometimes patience is the best medication.</li>
              <li><b>Important: Prepare a list of safe foods. Know you trigger and stay away from it.</b></li>
              <br>
              <b>   <li>The good news is that the chances of recovery are very good. Olfactory neurons are trying to repair themselves.</li>
              <li>Connect with others who have the same problem by joining our Forum. Share
                your stories and offer your support to yourself and others too.</li></b>
              
            </ul>
          </h6></p>

      </div>
    </div>
 
  </div>
 
  <div class="w3-col l4">
   
    <div class="w3-card w3-margin w3-margin-top">
    <img src="{% static "./smellfactory/img/dp.png"  %}" style="width:100%">
      <div class="w3-container w3-white">
        <h4><b>Founder's Note:</b></h4>
        <p> <b> Want to get more from us?</b>
            <br> <h6>If you want to make a zoom call with us to share your experience with smell loss please make sure to contact us <a href="https://www.instagram.com/smellfactory.team/">here.</a></h6>
          </p>
      </div>
    </div><hr>
    
  
    

  </div>
  

  </div><br>
  
 
  </div>

  <div class="container">

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/--k75lz7zgo" style="width: 10;" ></iframe>
    </div>
  </div>


  
{% endblock %}