{% extends "smellfactory/layout.html" %}

{% block body %}
<title>{% block title %} FAQs :: Smell Loss{% endblock %}</title>



<div class="container fadeIn second">
	<div class="row">
	  <div class="col-md-4">
		<div class="card card-1">
		  <h5>I had Covid-19. Why did I lose my sense of smell?</h5>
		  <p>People with Covid-19 lose their sense of smell - known as anosmia - because the virus damages the tissue and nerve endings in their nose. It is when those nerves are regrowing that parosmia can happen and the brain is unable to properly identify an odour's real smell. </p>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="card card-2">
		  <h5>Is my Covid-19 induced smell loss permanent?</h5>
		  <p> Novel coronavirus changes the sense of smell in patients not by directly infecting neurons but by affecting the function of supporting cells. This implies that in most cases, SARS-CoV-2 infection is unlikely to permanently damage olfactory neural circuits and lead to persistent anosmia. Source : Harvard Medical School.</p>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="card card-3">
		  <h5>Is that my loss of smell or taste?</h5>
		  <p>It is frequently asserted that somewhere between 75 and 95 % of what we commonly think of as taste actually comes from the sense of smell. So there is a high chance that you have lost your sense of smell and not taste. Odorants stimulate receptor proteins found on hairlike cilia at the tips of the sensory cells, a process that initiates a neural response. Again consult a trained medical professional if you still can't figure out.  </p>
		</div>
	  </div>

	  <div class="col-md-4">
		<div class="card card-3">
		  <h5>I lost my sense of smell after a viral disease. I am showing very mild to no improvements. What should I do?</h5>
		  <p>Consult a medical professional if there are no improvements even after a long time. Another thing to note: The good news is that the olfactory neurons can regenerate. They're regrowing in almost all of us, all of the time. We can harness that regeneration and guide it with "physiotherapy for the nose": smell training.</p>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="card card-3">
		  <h5>Why meat smells like petrol suddenly? (After Covid-19) </h5>
		  <p>Yes. The food you love may smell like sewage now. Recovery of smell is much slower because the olfactory neurons need time to regenerate from the supply of stem cells within the lining of the nose.

			Initial recovery is often associated with distortion of the sense of smell known as parosmia, where things don't smell like they used to. For many parosmics, for instance, the smell of coffee is often described as burnt, chemical, dirty and reminiscent of sewage..</p>
		</div>
	  </div>
	  <div class="col-md-4">

	  <div class="card card-3">
		<h5>What is smell training and how it works?</h5>
		<p>Smell training works by stimulating the sense of smell. It is this stimulation of the nerve that encourages regeneration of the olfactory nerve. Think of it as a form of physiotherapy for your nose. Many forms of smell loss are helped by this repeated, mindful exposure to a fixed set of odorants every day and no reason to think it won't work in COVID-19 smell loss.
			<br> <a href="{% url 'news' %}" > Learn More</a>
		</p>
	  </div>
	</div>
	<div class="col-md-4">
	<div class="card card-3">
		<h5>My sense of smell loss is taking a heavy toll on my mind. Why?</h5>
		<p>Losing your sense of smell can make it hard to cope. Losing just some of your sense of smell can affect your quality of life, resulting in isolation and depression. Smell and emotion are closely linked in the brain. </p>
	  </div>
	</div>
	  <div class="col-md-4">
		<div class="card card-3">
		  <h5>What is Parosmia?</h5>
		  <p>Parosmia is the medical term for experiencing distortions of the sense of smell.  Someone with parosmia may be able to detect odours, but the smell of certain things – or sometimes everything – is different, and often unpleasant.

			These unpleasant smells are often described as being like  rotting flesh.  For some people, it can be triggered by virtually any smell.</p>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="card card-3">
		  <h5>What is Anosmia?</h5>
		  <p>Anosmia is the partial or complete loss of the sense of smell. This loss may be temporary or permanent. Common conditions that irritate the nose’s lining, such as allergies or a cold, can lead to temporary anosmia.</p>
		</div>
	  </div>

		<div class="card card-3">
		  <h6>Note:</h6>
		  <p>If you want any more questions to be addressed, please let us know through the forum section. Also, If you want to make a Zoom call with the founder to address and share your experience, well we would love to have one. Let us know through DMs in any of the social media links given below. Thanks again.</p>
		</div>



	</div>
  </div>
{% endblock %}