{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/Finalproject/smellfactory/static/auctions/img/fav.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'smellfactory/style.css' %}" rel="stylesheet">
        <script src="{% static 'smellfactory/index.js' %}"></script>

       <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,900" rel="stylesheet">

   
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 
 <script data-ad-client="ca-pub-4734683126795411" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      
    </head>
    <body>
       
      
            <div class="container">
       
      
              <nav class="navbar navbar-expand-md navbar-light bg-transparent pt-4">
                <a href="{% url 'index' %}"  class="navbar-brand logo">SMELLFACTORY</a>
                  
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                  </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                  
                    <li class="nav-item" >
                      <a href="{% url 'index' %}" class="nav-link">
                          Home
                      </a>
                  </li> 
               
                    
                    <li class="nav-item" >
                          <a href="{% url 'news' %}" class="nav-link" >
                              Smell Training & Articles
                          </a>
                      </li>
                       <li class="nav-item" >
                        <a class="nav-link" href="{% url 'forum' %}">
                             Discussion Forum
                          </a>
                      </li>
                       <li class="nav-item" >
                          <a href="{% url 'faq' %}" class="nav-link">
                              FAQs On Smell Loss
                          </a>
                      </li>
                  
                       <li class="nav-item" >
                          <a href="https://www.paypal.com/paypalme/smellfactory" class="nav-link">
                              Donate
                          </a>
                      </li> 
                      {% if user.is_authenticated %}
                      <li class="nav-item" >
                        <a href="{% url 'logout' %}" class="nav-link">
                            Log out
                        </a>
                    </li> 
                    {% endif %}
                    </ul>
                 </div>
              </nav>
            </div>

        {% block body %}
      
        {% endblock %}

        <section id="cta">
            <h1 class="text-center cta-text">Want to give us a hand? Yes you can. </h1>
            <div class="btn-section text-center">
                <a href="https://www.paypal.com/paypalme/smellfactory"  class="btn btn-dark btn-lg btn-space"><i class="fab fa-cc-paypal"></i> Donate </a>
            </div>

            <section id="footer" class="d-flex justify-content-center">


                <a href= "https://www.linkedin.com/company/smellfactory">   <i class="fab fa-linkedin footer-icon" ></i></a>
                <a href= "https://www.facebook.com/smellfactory.team"><i class="fab fa-facebook-f footer-icon"></i></a>
                <a href="https://instagram.com/smellfactory.team"> <i class="fab fa-instagram footer-icon"></i></a>
                <a href="https://twitter.com/smellfactory"><i class="fab fa-twitter footer-icon"></i></a>
         
            </section>

        <p class="text-center paraa" style="padding-bottom: 0.75cm"> Please Note: Consult a licensed medical professional for seeking medical advice. The medical information on this website is provided only for educational purposes. All of the content is no way intended to refute the theories of any medical professional by any means. </p>       
     
    </section>
    <h5 class="text-center" style="padding-bottom: 1cm">SMELLFACTORY</h5> 
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          
     

</body>
 
        </html>
        


































































