{% extends "smellfactory/layout.html" %}

{% block body %}
{% if message %}
<div id="message">

    <div class="alert alert-{{msg_type}}">{{ message }}
        <span class="closebtn" onClick="window.location.reload();">&times; </span>
    </div>
</div>

{% endif %}
<div id="allposts">
   
        <div class="card mx-auto w-75 m-3">
            <div class="card-body">
                <h5 class="card-title">
                    <h3 class="text-center">    {{post.postcreator.username}}</h3>
                </h5>
                <p class="card-text">{{ post.content }} </p>
                   <p></p> <span><small>({{post.timestamp|date:'d M g:i a'}})</small></span>
                </p>
              

     
               
            </div>
        </div>
    </div>
    
        
          

    <div class="col-sm col">
        <h3 class="text-center">Comments</h3>
        {% if comments %}

        {% for comment in comments %}
            <br>
           
            <div class="card mx-auto w-75 m-3">
            <h5 class="card-header h5">{{comment.user}}</h5>
            <div class="card-body">
             
                <p class="lead">{{comment.commentcontent}}</p>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
     
            <br> <br> 
            <p class="lead">No Comments Yet</p> 
        </div>


        {% endif %}               



            <form action="{% url 'addcomment' post.id %}" method="POST">
                {% csrf_token %}
                <div class="comment">
                    <input id="task"
                           type="text"
                           name="comment"
                           placeholder="Comment">
                    <span class="input-group-prepend">
                        <button type="submit" id="submit" class="btn btn-dark">Post</button>
                
                    </span>
                </div>
          
                </form> 

      {% endblock %}

